11_Inheritance/Classwork/Vehicles/vehicles/__pycache__/__init__.cpython-37.pyc
11_Inheritance/Classwork/Vehicles/vehicles/__pycache__/classes.cpython-37.pyc
11_Inheritance/Classwork/Vehicles/vehicles/__pycache__/generate.cpython-37.pyc
11_Inheritance/Classwork/Vehicles/vehicles/__pycache__/read_csv.cpython-37.pyc
11_Inheritance/Classwork/Vehicles/vehicles/__pycache__/save_csv.cpython-37.pyc
11_Inheritance/Classwork/Vehicles/vehicles/__pycache__/statistic.cpython-37.pyc
.idea/shelf/
.vscode/*.*
